<h2>Job Openings</h2>

<% if(user) { %>
  <p>Welcome, <%= user.name %> | <a href="/auth/logout">Logout</a></p>
  <% } else { %>
    <p><a href="/auth/login">Login</a> to apply for jobs</p>
    <% } %>

      <ul>
        <% jobs.forEach(job=> { %>
          <li>
            <strong>
              <%= job.job_title %>
            </strong> at <%= job.company_name %>
              <br>Type: <%= job.job_type %>
                <br>Deadline: <%= job.deadline %>
                  <br>Status: <%= job.status %>
                    <br>
                    <%#ถ้ายังไม่ login จะโยนไปหน้า login แต่ถ้า login แล้ว ไปหน้าสมัคร%>
                    <% if(user) { %>
                      <a href="/apply/<%= job.job_id %>">Apply</a>
                      <% } else { %>
                        <a href="/auth/login">Login to Apply</a>
                        <% } %>
                          <% } %>
          </li>
          <hr>
          <% }) %>
      </ul>